Checks: >-
  -*,
  bugprone-branch-clone,
  readability-else-after-return,
  readability-function-size,
  readability-magic-numbers,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  cppcoreguidelines-pro-type-cstyle-cast
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '40'
  - key: readability-function-size.StatementThreshold
    value: '30'
  - key: readability-function-size.BranchThreshold
    value: '10'
  - key: readability-function-size.NestingThreshold
    value: '4'
  - key: readability-function-size.ParameterThreshold
    value: '5'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;-1;2;4;8;16;32;64;128;256;512;1024;2048;4096;8192;16384;32768;65536'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: 'true'
  - key: readability-magic-numbers.IgnoreBitFieldsWidths
    value: 'true'
  - key: readability-magic-numbers.IgnoreTypeAliases
    value: 'true'
